.container {	
	display: grid;
	background-color: red;	
	border-radius: 30px;
	border-color: black, style solid;
	justify-items: center;
	margin-top: 160px;
    margin-bottom: 10px;
	gap: 10px;	
	background: linear-gradient(150deg, #eba102, #f10271, #00c298, #1a08b9);
	background-size: 300% 150%;
	animation: movimientoDavo 5s ease infinite;
    padding-bottom: 20px;
}	

.miniContenedores * {
	font-size: 60px;

}
.granConainer{
	margin-left: 755px;
}
body{
	width:  1055px;
	}

@keyframes movimientoDavo {	
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.barra {
	margin-top: 20px;
}
